@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-200 font-sans antialiased overflow-x-hidden selection:bg-primary/30;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-surface/80 backdrop-blur-md border border-white/5 shadow-xl;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
  }
}